 {% extends 'base.html' %} {%block body%} {%for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>message</strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{%endfor%} {%endblock%} {% block content %}
<h1>Register</h1>
<div id="error"></div>
<form method="POST" id="form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" id="first_name" name="first_name" required value="First Name">
    <br>
    <br>
    <input type="text" id="last_name" name="last_name" required value="Last Name">
    <br>
    <br>
    <input type="email" id="email" name="email" required value="Email">
    <br>
    <p>Enter your password</p>
    <li>password should be at least 6 characters long and less than 20 characters</li><br>
    <li>password should contain upper case and lower case characters</li><br>
    <li>password should also contain special characters and numbers</li><br>
    <li>password should not match first name or last name</li><br>
    <input type="password" id="password" name="password" required value="Password">
    <br>
    <br>
    <input type="submit" name="submit" value="Submit"><br>
</form>
<div>
    {%for message in messages%}
    <h3>{{message}}</h3>
    {%endfor%}
</div>
{% endblock %}